.navbar-nav {
    float: right;
    margin: 3px;
    border-radius:0px;
}
.navbar{
    border-radius:0px;
}
.navbar-nav {
    float: right;
    margin: 3px;
    border-radius:0px;
}

a{
	font-weight: bold;
}

.thumbnail {
    width: 85%;
}
th{
	text-align: center;
}
